@inject IRepository<Sprint> _sprintRepository
@inject IModalService Modal
    <div class="simple-form">
        <div class="form-group">
            <label for="sprint-name">Name</label>
            <input type="text" class="form-control" @bind="@Sprint.Name" />
        </div>
        <div class="form-group">
            <label for="sprint-description">Description</label>
            <input type="text" class="form-control" @bind="@Sprint.Description" />
        </div>
        <div class="form-group">
            <label for="sprint-startdate">Starts At</label>
            <input type="datetime" class="form-control" @bind="@Sprint.StartDate" />
        </div>
        <div class="form-group">
            <label for="sprint-enddate">Ends At</label>
            <input type="datetime" class="form-control" @bind="@Sprint.EndDate" />
        </div>
        <button @onclick="SaveChanges" class="btn btn-primary">Submit</button>

    </div>
@code {
    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; }
    [Parameter] public Guid SprintId { get; set; }
    Sprint Sprint { get; set; }
    protected override void OnInitialized()
    {
        Sprint = _sprintRepository.GetById(SprintId);
    }
    void SaveChanges()
    {
        _sprintRepository.Edit(Sprint);
        BlazoredModal.Close();
    }

}
